<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.howdo.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".misc.App"
        android:allowBackup="true"
        android:icon="@mipmap/me"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MixtureTextActivity" />
        <activity android:name=".ui.activity.HtmlActivity">
            <intent-filter>
                <action android:name="com.example.howdo.myapplication.ui.activity.HtmlActivity.start" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.NormalWebViewActivity" />
        <activity android:name=".ui.activity.SDMountedActivity" />
        <activity
            android:name=".ui.activity.AboutMeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.ByeBurgerNavigationView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.activity.BGARefreashActivity" />
        <activity android:name=".ui.activity.BGASwipeListViewActivity" />
        <activity
            android:name=".ui.activity.BGAWebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.activity.MainTabActivity" />
        <activity android:name=".ui.activity.DownloadSpeedActivity" />
        <activity android:name=".ui.activity.CurrentSpeedActivity" />
        <activity
            android:name=".ui.activity.DesignSupportLibraryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.BottomNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.PinnedSectionListActivity" />
        <activity android:name=".ui.activity.DropDownMenuActivity" />
        <activity android:name=".ui.activity.DropDownMenu2Activity" />
        <activity
            android:name=".ui.activity.OpenGalleryAndCameraActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.FirstCodeActivity" />
        <activity android:name=".ui.activity.SecondFirstCodeActivity" />
        <activity
            android:name=".ui.activity.ThirdFirstCodeActivity"
            android:label="@string/title_activity_third_first_code"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".ui.activity.ForthFirstCodeActivity"
            android:label="@string/title_activity_forth_first_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FifthFirstCodeActivity"
            android:label="@string/title_activity_fifth_first_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.sixthFirstCodeActivity"
            android:label="@string/title_activity_sixth_first_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.seventhFirstCodeActivity"
            android:label="@string/title_activity_seventh_first_code"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.EighthFirstCodeActivity" />
        <activity android:name=".ui.activity.NewsContentActivity" />
        <activity android:name=".ui.activity.BroadCastReceiverDemoActivity" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.howdo.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyOrderedBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.howdo.MY_ORDERED_BROADCAT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.activity.FilePersistenceActivity" />
        <activity android:name=".ui.activity.SharedPreferenceActivity" />
        <activity android:name=".ui.activity.ContentProviderActivity" />

        <provider
            android:name=".contentProvider.DatabaseContentProvider"
            android:authorities="com.example.howdo.myapplication.provider"
            android:enabled="true"
            android:exported="true">

        </provider>

        <provider
            android:authorities="com.example.howdo.myapplication.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

        <activity android:name=".ui.activity.OpenGalleryCameraActivity"></activity>
    </application>

</manifest>